* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #FFF;
    --bg-url: linear-gradient(43deg, #1A1A1A, #0B101E, #1A1A1A, #0B101E);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/images/sun.png);
}

.light {
    --text-color: #1A1A1A;
    --bg-url: linear-gradient(43deg, #F0F4F8, #FDFDFD, #F0F4F8, #FDFDFD);
    --stroke-color: rgba(26, 26, 26, 0.1);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(8, 8, 8, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.2);
    --switch-bg-url: url(./assets/images/moon.png);
}

body {
    background:var(--bg-url);
}

body * {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

#container {
    width: 100vw;
    height: 100vh;
    max-width: 700px;
    margin: auto;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    border-radius: 100%;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#profile span {
    font-size: 12px;
}

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
    cursor: pointer;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
    color: var(--stroke-color);
}

ul li a ion-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

ul li a:hover ion-icon {
    color: var(--stroke-color);
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 25px;
    gap: 20px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--stroke-color);

    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
}

#footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

#footer a {
    padding: 10px;
}

#footer a:hover {
    color: var(--highlight-color);
    text-decoration: none;
}

@media(min-width: 768){
    :root {
        ul li a ion-icon {
            width: 25px;
            height: 25px;
        }
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}